* {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    line-height: 1.2;
}

button, a {
    text-decoration: none;
    color: #f2f2f2;
    background-color: #DAC1F9;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    line-height: 1.4;
    border: none;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section1 {
    margin: 1vw;
}

.half-section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    height: 100%;
    animation: slide 10s infinite;
}
  
.slide {
    flex: 0 0 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    33.33% {
        transform: translateX(-100%);
    }
    66.66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

#imagenes img {
    width: 100%;
}

#countdown {
    /*background-color: #f5e6f7;*/
    background-image: url("Imagen8.jpg");
    background-size: cover;
    color: #fff;
}

#countdown-timer {
    font-size: 3em;
    color: #333;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


#map {
    background-color: #fff;
}



h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    color: #DAC1F9;
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    color: #333333;
    font-size: 1.2em;
    margin: 10px 0;
    font-family: 'Playfair Display', serif;
}

#form {
    /*background: linear-gradient(135deg, #e0c3fc, #8ec5fc);*/
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
}

select, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #DAC1F9;
    border-radius: 10px;
    background-color: #DAC1F9;
    color: #ffffff;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #DAC1F9;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #DAC1F9;
}

.formbutton {
    background-color: #DAC1F9;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.formbutton:hover {
    background-color: #DAC1F9;
}

.hidden {
    display: none;
}

#dress-code {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.dress-code-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra difuminada */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transici칩n para efecto hover */
}

.dress-code-card:hover {
    transform: translateY(-5px); /* Eleva la tarjeta al pasar el cursor */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Incrementa la sombra al hover */
}

.dress-code-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dress-code-icon {
  margin-bottom: 10px;
  width: 5em;  /* El tama침o ser치 relativo al tama침o de la fuente */
  height: auto;
}
